@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:500&display=swap);

.wrapper {
	padding: 0px;
	position: relative;
}

/*Navigation*/
header {
	background: #FFED74;
}

nav {
	background: #E8C66A;
	padding: 20px;
	font-family: Montserrat, Arial, sans-serif;
}

.logo {
	max-width:7%;
    height:auto;
}

ul, li {
	display: inline;
	margin: 0;
	padding: 0;
}

/*Main Section*/
main {
	font-family: Roberto, Arial, sans-serif;
}

#body_header {
	text-align: center;
	font-size: 28px;
	font-family: Montserrat, Arial, sans-serif;
}

#hero {
	position: relative;
	padding: 80px;
	background: url("../images/fitness.jpg");
}

h1 {
	color: #458F4A;
	font-family: Montserrat, Arial, sans-serif;
	font-size: 56px;
	line-height: 1em;
	background: white;
	margin: 20, 0, 10, 0;
	padding: 5px;
	display: inline;
}

#slogan {
		font-family: Roberto, Arial, sans-serif;
		font-size: 20px;
		line-height: 1em;
		background: white;
		margin: 10, 0, 20, 0;
		padding: 5px;
		display: inline;
}

#bio {
	background: white;
	font-family: Roberto, Arial, sans-serif;
	margin-top: 60px;
}

.post_img {
	max-width:30%;
    height:auto;
}

article {
	background: #E89C6C;
}

/*Footer*/

footer {
	background: #FF957E;
}

#contact {
	font-family: Roberto, Arial, sans-serif;
	font-size: 18px;
	line-height: 2em;
	margin-right: 350px;
	margin-left: 350px;
}

